.outlineText {
    overflow: hidden;
    h1 {
        font-weight: 900;
        font-size: 6vw;
        padding-bottom: 10rem;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.541);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(201, 199, 199);
    }
}
