@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');

:root {
    --color-black: #222222;
    --color-gray: rgba(34, 34, 34, 0.6);
    --color-background: #ffffff;
    --color-azure: #f2f5f8;
    --color-answer-border: rgb(216, 215, 215);
    --color-question: rgb(79, 76, 76);
    --color-answer-hover-bg: rgb(248, 245, 241);
    --color-answer-hover-border: rgb(245, 152, 152);
    --color-answer-hover-right-bg: rgb(213 255 200);
    --color-answer-hover-right-border: rgb(64 197 69);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Lexend';
    font-weight: 200;
    text-rendering: optimizeSpeed;
    margin: 0 !important;
}

/* Start scrollbar-------------------------------------- */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: antiquewhite;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cdf7ff;
}
/* End scrollbar------------------------------------------ */

.contentContainer {
    background-color: var(--color-background);
    background-image: url(../../assets/bg.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 10px;
    overflow: hidden;
    img {
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.wrapper {
    max-width: 815px;
    margin: 0 auto;
    .item {
        background-color: var(--color-azure);
        border-radius: 15px;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        padding: 20px 30px;
        overflow: hidden;
    }
}

@media screen and (max-width: 875px) {
    .wrapper {
        padding: 0 3rem;
    }
}

@-moz-keyframes vertically {
    0% {
        -moz-transform: translateY(-10px);
    }
    50% {
        -moz-transform: translateY(10px);
    }
    100% {
        -moz-transform: translateY(-10px);
    }
}
@-webkit-keyframes vertically {
    0% {
        -webkit-transform: translateY(-10px);
    }
    50% {
        -webkit-transform: translateY(10px);
    }
    100% {
        -webkit-transform: translateY(-10px);
    }
}
@keyframes vertically {
    0% {
        -moz-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    50% {
        -moz-transform: translateY(10px);
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        -moz-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
