.scrollingOutlineText {
    display: flex;
    gap: 3rem;
    animation: scrollingText 10s infinite linear;
    @keyframes scrollingText {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}
