.logoPerform {
    padding-bottom: 10rem;
    .container {
        position: relative;
        img {
            display: block;
            margin: 0 auto;
        }

        #logo {
            position: absolute;
            top: 28%;
            left: 31%;
            z-index: 1;
            width: 40%;
            animation: vertically 3s infinite linear;
        }
        #logoBG {
            width: 50%;
            animation-name: spin;
            animation-duration: 15s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .logoPerform {
        padding-bottom: 1rem;
    }
}

@media all and (max-width: 480px) {
    .logoPerform {
        padding-bottom: 1rem;
    }
}
