.reward {
    padding-bottom: 7rem;
    position: relative;
    .item {
        z-index: 2;
        position: relative;
    }
    #alisa {
        width: 50%;
        z-index: 1;
        position: absolute;
        top: -48%;
        left: 50%;
    }
    .gold {
        border: 2px solid gold;
        background-color: #fff6c8 !important;
    }
    .silver {
        border: 2px solid silver;
        background-color: #e9e9e9 !important;
    }
    .bronze {
        border: 2px solid #ffac5a;
        background-color: #ffe1c4 !important;
    }
}

@media all and (min-width: 875px) {
    .reward {
        #alisa {
            top: -48%;
        }
    }
}

@media all and (min-width: 700px) and (max-width: 875px) {
    .reward {
        #alisa {
            top: -35%;
        }
    }
}

@media all and (min-width: 580px) and (max-width: 700px) {
    .reward {
        #alisa {
            top: -20%;
        }
    }
}

@media all and (min-width: 480px) and (max-width: 580px) {
    .reward {
        #alisa {
            top: -10%;
        }
    }
}

@media all and (min-width: 400px) and (max-width: 480px) {
    .reward {
        #alisa {
            top: -3%;
        }
    }
}

@media all and (max-width: 400px) {
    .reward {
        #alisa {
            display: none;
        }
    }
}
