.rules {
    position: relative;
    padding-bottom: 9rem;
    .item {
        position: relative;
        z-index: 2;
    }

    img {
        width: 60%;
        position: absolute;
        z-index: 1;
        top: 5%;
        left: -45%;
        animation: vertically 3s infinite linear;
    }
}

@media screen and (max-width: 1080px) {
    .rules {
        img {
            top: 0;
            left: 0;
        }
        .type3 {
            p {
                padding-left: 40rem;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .rules {
        .type3 {
            p {
                padding-left: 10rem;
            }
        }
    }
}
